.app-text{
  font-size: calc(8px + 2vmin);
  color: white;
}

.app-header{
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: .4rem;

}

.button-container{
  display: flex;
}

.button-items{
  background-color: #282c34;
  color: white;
  width: 50%;
}

.flex{
  display: flex;
  justify-content: center;
}

.count{
  padding: 15px;
  border: 1px solid white;
}
